nav{
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    justify-content: space-between;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    z-index: 10;

    a{
        text-decoration: none;
        color: #000;
    }

    .header{
        display: flex;
        align-items: center;
        cursor: pointer;

        .headerText{
            @media (max-width:500px) {
                display: none;
            }
            margin-left: 10px;
        }
    }

    .favourite{
        padding: .25rem;
        position: relative;
        font-weight: bold;
        opacity: 0.8;
        cursor: pointer;
        color: black;
        transition: color .3 ease-in-out;

        &::before{
            content: '';
            position: absolute;
            height: 2px;
            background-color: #000;
            transform: translateX(50%);
            bottom: 0;
            opacity: 0;
            left: 0;
            width: 100%;
            transition: all .3s ease-in-out;

        }

        &:hover{
            opacity: 1;
            color: #2F9331;

            &::before{
                opacity: 1;
                transform: translateX(0);
                background-color:#2F9331;
            }
        }

        span{
            padding: 0 5px;
            background-color: #2F9331;
            color: white;
            border-radius: 5px;
            border: transparent;
        }
    }

    
    
}
